<nav style="margin-bottom: 0px;"class="navbar navbar-default navbar-static-top navbar-inverse">
  
  <div class="container">
    <ul class="nav navbar-nav navbar">
      <h1 style="font:white">Nathan-Eliott Software</h1>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Batchpol 1.4.5 HP NonStop Batch Monitor</a></li>
            <li><a href="#">VTS (Versatile Transaction Sender)</a></li>
            <li><a href="#">VTS-Swift HP NonStop Testing Solution</a></li>
          </ul>
      </li>
      <li class="active">
        <a href="/">Services</a>
      </li>
      <li class="active">
        <a href="/">News</a>
      </li>
    </ul>
  </div>
</nav>
