

    #particles-js{
        background:rgb(25, 79, 255);
        max-height: 25%;

    }


#countEm{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    width: auto;
    position: relative;
    margin-left: 10px;
   
}

/*
#myFont{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 70px;
    color:#F62A00;
    opacity: .75;
}

#myFont2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    color:lightgray;
}


#hoverMe:hover{
    background: rgb(35, 231, 238);

}

*/