<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
</head>

<body style="width:100%;text-align: center;">
  <% include ../partials/nav.ejs %>
  <% include ../partials/bruceBanner.ejs %>



  <div id="particles-js">
    <p id="countEm"></p>
  </div>

 
</body>
<!--
<script>

    $("#countEm").text("apple");
    
  </script>
-->
<script type="text/javascript" src="sparkles-app.js"></script>
<script type ="text/javascript" src="transactionCount.js"></script>

</html>