<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
</head>

<body style="width:100%;text-align: center;">
  <% include ../partials/nav.ejs %>

  <div id="particles-js">
      
   <!--   <h1 id="myFont" style="position:absolute;top:35%;" >Nathan-Eliott Softwares </h1>
      <h2 id="myFont2" style="position:absolute;top:50%;left:45%;" >Find out what we do</h2>
   -->
      <div class="jumbotron" id="hoverMe" style="background:#00293C;max-width:80%;position: absolute;top:200px">
              <h1 class="display-4"id="myFont">Nathan-Eliott Softwares</h1>                    
              <hr class="my-4" style="border-color:gray;">      
              <a class="btn btn-outline-secondary btn-lg float-right" href="home.html" role="button">Explore</a>
              <p class="float-right"  id="myFont2">Between you and your nonstop system.</p>
      </div>
  <!--    <div class="container" style="overflow:hidden; position:absolute ; top:50px;right:0px;">
          <img class="img-responsive" style="height:4200px;width:1200px;position:relative;top:0px;right:-500px;"src="https://freepngimg.com/download/eiffel_tower/7-2-eiffel-tower-free-png-image.png">
  -->    </div>

  </div>

  
</body>
<script type="text/javascript" src="sparkles-app.js"></script>

</html>