<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
</head>

<body style="width:100%;text-align: center;">
  <% include ../partials/nav.ejs %>
  


<div style="max-height:400px;" >
  <div id="particles-js"style="max-height:400px;">
 <!--    
   <div>
  <% include ../partials/bruceBanner.ejs %> 
  </div>
   -->
  </div>
</div>
<!--               Test                    -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3 id='customHover'>Baaam</h3>
            <p id='customHover'class="lead mb-0">Peanut butter and jaaaamm!</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3 id="countEm"></h3>
            <p class="lead mb-0">1 trillion + transactions processed. </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>fuck off</h3>
            <p class="lead mb-0">mr laeigh</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--               Test                    -->

<div style="height:400px;" >
  <div id="particles-js2"style="height:400px;">
 <!--    
   <div>
  <% include ../partials/bruceBanner.ejs %> 
  </div>
   -->
  </div>
</div>

<% include ../partials/footer.ejs %>
</body>
<!--
<script>

    $("#countEm").text("apple");
    
  </script>
-->
<script type="text/javascript" src="sparkles-app.js"></script>
<script type ="text/javascript" src="transactionCount.js"></script>

</html>